In [ ]:
Python Assignment - 2

In [1]:
What is List? How will you reverse a list?
[ ]

How will you compare two lists?
[ ]

How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?
[ ]

Differentiate between append () and extend () methods?
[ ]

Write a Python program to find the second smallest number in a list.
[ ]

Write a Python program to find the length of a tuple.
[ ]

Write a Python program to reverse a tuple.
[ ]

[ ]

Write a Python program to remove duplicates from a list.
[ ]

Write a Python function that takes a list and returns a new list with unique elements of the first list.
[ ]

Write a Python program to check a list is empty or not.
[ ]

Write a Python function to get the largest number, smallest num and sum of all from a list.
[ ]

Write a Python program to get unique values from a list
[ ]

Write a Python program to split a list into different variables.
[ ]

Write a Python program to check whether an element exists within a tuple
[ ]

Write a Python program to convert a list to a tuple.
[ ]

Write a Python program to find the repeated items of a tuple.
[ ]

Write a Python program to remove an empty tuple(s) from a list of tuples
[ ]

Write a Python program to unzip a list of tuples into individual lists.
[ ]

Write a Python function to check whether a number is in a given range
[ ]

Write a Python function that checks whether a passed string is palindrome or not
[ ]

Write a Python program to returns sum of all divisors of a number
[ ]

Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.
[ ]

Write a Python program to calculate the area of a parallelogram
[ ]

Write a Python function to check whether a number is perfect or not.
[ ]

Write a Python program to convert degree to radian
[ ]

Write a Python program to calculate the area of a trapezoid
[ ]

Write a Python program to calculate surface volume and area of a cylinder
[ ]
[ ]
Colab paid products - Cancel contracts here

SyntaxError: invalid syntax (1107414874.py, line 7)

What is List? How will you reverse a list?

In [2]:
my_numbers = [2, 4, 6, 8, 0]
my_numbers.reverse()
print(my_numbers)

[0, 8, 6, 4, 2]

How will you compare two lists?

In [1]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
print(list1 == list2)

True

In [2]:
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]
print(list1 == list2)

False

How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

In [11]:
list1 = [2,33,222,14,25]

In [13]:
list1.remove(14)

In [14]:
print(list1)

[2, 33, 222, 25]

Differentiate between append () and extend () methods?

In [15]:
list1 = [1,2,3,4,5]

In [16]:
list1.append(6,)

In [18]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [19]:
list2 = [7,8,9,10]

In [21]:
list3 = [11,12,13,14]

In [22]:
list2.extend(list3)
print(list2)

[7, 8, 9, 10, 11, 12, 13, 14]

In [23]:
x = [1,2,3]

In [24]:
y = [4,5,6]

In [26]:
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6]

Write a Python program to find the second smallest number in a list.

In [27]:
list1 = [12,45,2,41,31]

In [6]:
def sec_num(numbers):
    x1 = x2 = float('inf')
    for i in numbers:
        if i<= x1:
            x1,x2=i,x1
        elif i<x2:
            x2 = i
    return x2

In [7]:
sec_num([2,5,6,12,20,34])

5

Write a Python program to find the length of a tuple.

In [8]:
tuple = (234, 135, 85, 15)
print(len(tuple))

4

Write a Python program to reverse a tuple.

In [37]:
tuple = (2,4,6,8,10)

In [38]:
def reverse(tuple):
    new_tup = tuple[::-1]
    return new_tup

In [39]:
tuple = (1,3,5,7,9)

In [40]:
print(reverse(tuple))

(9, 7, 5, 3, 1)

In [41]:
tuples = (1,2,3,4,5)

In [ ]:
tuple = tuples[::-1]

In [43]:
print(reverse(tuples))

(5, 4, 3, 2, 1)

Write a Python program to remove duplicates from a list.

In [44]:
list = [1,1,2,3,2,3,4,5]

In [45]:
set(list)

{1, 2, 3, 4, 5}

Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [15]:
my_list = [1,2,2,3,1,4,5]
print("original list : ",my_list)
my_set = set(my_list)
my_new_list = list(my_set)
print("list of unique elements: ",my_new_list)

original list :  [1, 2, 2, 3, 1, 4, 5]
list of unique elements:  [1, 2, 3, 4, 5]

Write a Python program to check a list is empty or not.

In [54]:
def enquiry(list1):
    if not list1:
        return 1
    else:
        return 0
        
list1 = []
if enquiry(list1):
    print("the list is empty")
else:
    print("this is not empty")

the list is empty

Write a Python function to get the largest number, smallest num and sum of all from a list.

In [1]:
mylist = [10,25,40,80,99]
number = int(input('how many elements to put in the list: '))
for n in range(number):
    element = int(input('enter element '))
    mylist.append(element)
    print("maximum element in the list is:", max(mylist))
    print("minimum element in the list is:", min(mylist))

how many elements to put in the list: 5
enter element 10
maximum element in the list is: 99
minimum element in the list is: 10
enter element 25
maximum element in the list is: 99
minimum element in the list is: 10
enter element 40
maximum element in the list is: 99
minimum element in the list is: 10
enter element 80
maximum element in the list is: 99
minimum element in the list is: 10
enter element 99
maximum element in the list is: 99
minimum element in the list is: 10

Write a Python program to get unique values from a list

In [55]:
my_list = [5,10,15,5,15,10,20,30,20,40]

In [56]:
set(my_list)

{5, 10, 15, 20, 30, 40}

Write a Python program to split a list into different variables.

In [23]:
my_list = [('yes','no'), ('notes','books'), ('letters','numbers')]
var1, var2 ,var3 = my_list
print(var1)
print(var2)
print(var3)

('yes', 'no')
('notes', 'books')
('letters', 'numbers')

Write a Python program to check whether an element exists within a tuple

In [24]:
t = ('a', '2', 'p', '10', 'b')
print('2' in t)
print('15' in t)
print('p' in t)

True
False
True

Write a Python program to convert a list to a tuple.

In [62]:
my_list = ['python','java','machine learning','cloud','testing']
tuples = (*my_list,)

In [63]:
print(tuples)

('python', 'java', 'machine learning', 'cloud', 'testing')

In [66]:
my_list = [10,20,30,40]
tuples = (*my_list,)

In [67]:
print(tuples)

(10, 20, 30, 40)

Write a Python program to find the repeated items of a tuple.

In [2]:
tuples = (2,4,3,6,2,4,3)
print(tuple)
count = tuples.count(3)
print(count)

<class 'tuple'>
2

Write a Python program to remove an empty tuple(s) from a list of tuples

In [3]:
def remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples

In [6]:
tuples = [(), ('6' ,'june' ,'16'), (), ('ram' , 'sham'), (), ('aman' , '18')]

In [7]:
print(remove(tuples))

[('6', 'june', '16'), ('ram', 'sham'), ('aman', '18')]

Write a Python program to unzip a list of tuples into individual lists.

In [8]:
l = [(1,3), (4,5), (2,8)]

In [9]:
print(list(zip(*l)))

[(1, 4, 2), (3, 5, 8)]

Write a Python function to check whether a number is in a given range

In [28]:
def test_range(n):
    if n in range(10,20):
        print("number %s is in range"%str(n))
    else:
        print("the number is outside the given range.")

In [29]:
test_range(15)

number 15 is in range

In [30]:
test_range(35)

the number is outside the given range.
number 15 is in range

Write a Python function that checks whether a passed string is palindrome or not

In [ ]:
s =  "coding"

In [ ]:
x = "english"

Write a Python program to returns sum of all divisors of a number

In [18]:
num = int(input("enter the number :"))
div = [1]
for i in range(2, num):
    if (num % i)==0:
        div.append(i)
        print("sum of all divisors :",sum(div))

enter the number :12
sum of all divisors : 3
sum of all divisors : 6
sum of all divisors : 10
sum of all divisors : 16

Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.

In [19]:
print("enter the multiple decimal points comma separate...")
dec = input("").split(",")
print("maximum: ", max(dec))
print("minimum: ", min(dec))

enter the multiple decimal points comma separate...
23.5,48.20,1,50,89.30,0.34
maximum:  89.30
minimum:  0.34

Write a Python program to calculate the area of a parallelogram

In [3]:
base = float(input('length of base: '))
height = float(input('measurement of height: '))
area = base * height
print('area is: ', area)

length of base: 6
measurement of height: 8
area is:  48.0

Write a Python function to check whether a number is perfect or not.

In [13]:
n = int(input("20"))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
    if (sum1 == n):
        print("the number is a perfect number!")
    else:
        print("the number is not a perfect number!")

208
the number is not a perfect number!
the number is not a perfect number!
the number is not a perfect number!
the number is not a perfect number!
the number is not a perfect number!
the number is not a perfect number!
the number is not a perfect number!

Write a Python program to convert degree to radian

In [72]:
degree = float(input("input degrees: "))
radian = degree*(22/7/180)
print(radian)

input degrees: 24
0.41904761904761906

Write a Python program to calculate the area of a trapezoid

In [78]:
base_1 = 5
base_2 = 6
height = float(input("height of trapezoid: "))
base_1 = float(input('base one value: '))
base_2 = float(input('base two value: '))
area = ((base_1 + base_2) / 2) * height
print("area is:", area)

height of trapezoid: 10
base one value: 20
base two value: 15
area is: 175.0

Write a Python program to calculate surface volume and area of a cylinder

In [83]:
pi = 22/7
height = float(input('height of cylinder'))
radian = float(input('radius of cylinder'))
volume = pi * ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("volume is: ", volume)
print("surface area is: ", area)

height of cylinder4
radius of cylinder6
volume is:  700.4081632653061
surface area is:  200.0